/* portfolio purple: #6E53A1 */
/* darker purple: #382B50 */
/* lighter purple: #D5BFFF */
/*darker orange: rgb(246, 102, 78)*/
/*lighter orange: rgb(251, 194, 183)
*/
/*main purple: rgb(165, 60, 145)*/
/*lighter purple: rgb(218, 177, 211)*/

/*darker green: rgb(58, 119, 120)*/
/*regular yellow: rgb(246, 210, 54)*/
/*lighter green: rgb(150, 192, 142)*/


@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

}


body {
  /* font-family: 'Noto Sans Display', sans-serif; */
  /* font-family: 'Dela Gothic One', cursive; */
  /* font-family: 'Poller One', cursive; */
  font-family: Inconsolata, sans-serif;
  font-size: 15px;
  color: rgb(165, 60, 145);
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, .skillslist {
  font-family: 'Bakbak One', sans-serif;
  /* font-family: AerojonesNF, sans-serif; */
}

.services-about {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: ;
  text-align: center;
}


.nav-bar{
  width: 10px;
  height: 10px;
  background-color: rgb(58, 119, 120);
  padding-left: 20px;
  padding-top: 20px;
}

nav {
  background-color: rgb(246, 210, 54);
  position: fixed;
  z-index: 10;
  width: 100%;
  display: none;
  margin-top: -30px;

}

li.empty {
  width: 50px;
  border-top: 0.5px solid rgb(58, 119, 120);
  top: -5px;
  position: relative;
}


nav li a {
  text-decoration: none;
  color: rgb(58, 119, 120);
  transition: 0.3 ease-in-out;
}

nav li a:hover {
  text-decoration: underline;
  color: white;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  /*refers to 0 top/bottm and 15px left/right */
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header{
  height: 800px;
  text-align: center;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height:  844px;
  z-index: -3; 
  
}

.curation{
  background-color: rgb(246, 102, 78);
  color: rgb(251, 194, 183);
}

.curation p{
  text-align: left;
  padding: 20px;
  padding-bottom: 50px;
}
.curation h1{
  padding-top: 20px;
}
.curation img{
  display: inline-block;
}
.curation ul li{
  display: inline-block;
}

.tarot{ 
  background-image: linear-gradient(rgb(165, 60, 145) ,
 transparent); }

.tarot h1{
  text-align: center;
}

.tarot img{
  padding-top: 40px;
}

.tarot div a{
  text-align: center;
}

 .button {
  background-color: rgb(165, 60, 145);
  border: 1px solid rgb(165, 60, 145);
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background 0.5s ease-in-out;
  color: background 0.5s ease-in-out;
}

.button:hover {
  background: #ffffff;
  color: white;
}

.rap h1, p{
  text-align: right;
  padding-right: 30px;
  padding-left: 30px;
}

.rap{
  color: rgb(150, 192, 142);
  background-color: rgb(58, 119, 120);
  padding-top: 30px;
}

.rap-imgs {
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px;
  }
 .rap-imgs img{
  padding-top: 20px;
  width:  100%;
 } 

 .rap-imgs div a{
  padding-left: px;
 } 

footer {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(58, 119, 120) ;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 0px;
  color: #fff;
  width: 100%;
  height: 300px;
}

footer h2 {
  font-size: 15px;
  margin-bottom: 0px;
  width: 100%;
}
footer p{
  padding-top: 100px;
}

.right-alignment {
  text-align: right;
}

a.email-me {
  text-decoration: underline;
  color: #fff;
  transition: 0.3 ease-in-out;
  font-size: 25px;
  
}

a.email-me:hover {
  text-decoration: none;
  color: #000;
  background-color: none;
}

