/* portfolio purple: #6E53A1 */
/* darker purple: #382B50 */
/* lighter purple: #D5BFFF */
/*darker orange: rgb(246, 102, 78)*/
/*lighter orange: rgb(251, 194, 183)
*/
/*main purple: rgb(165, 60, 145)*/
/*lighter purple: rgb(218, 177, 211)*/

/*darker green: rgb(58, 119, 120)*/
/*regular yellow: rgb(246, 210, 54)*/
/*lighter green: rgb(150, 192, 142)*/


@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

}


body {
  /* font-family: 'Noto Sans Display', sans-serif; */
  /* font-family: 'Dela Gothic One', cursive; */
  /* font-family: 'Poller One', cursive; */
  font-family: Inconsolata, sans-serif;
  font-size: 15px;
  color: rgb(165, 60, 145);
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, .skillslist {
  font-family: 'Bakbak One', sans-serif;
  /* font-family: AerojonesNF, sans-serif; */
}

.services-about {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: ;
  text-align: center;
}


.nav-bar{
  width: 30px;
  height: 30px;
  background-color: rgb(246, 210, 54);
  border-radius: 50%;
  position: fixed;
}

nav {
  
  position: fixed;
  z-index: 10;  
  margin-left: 20px;
}


/*-------------------NAV DROPBAR CODE*/


.navbar {
  position: fixed;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
  position: fixed;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(246, 210, 54) ;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(246, 210, 54);
  min-width: 160px;  
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: rgb(58, 119, 120);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*------------------NAV DROP end*/



header{
  height: 800px;
  text-align: center;
  font-size: 35px;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height:  844px;
  z-index: -3; 
  
}

/*-------------CURATION*/
.curation{
  background-color: rgb(246, 102, 78);
  color: rgb(251, 194, 183);
}

.curation p{
  text-align: left;
  padding: 20px;
  padding-bottom: 50px;
}
.curation h1{
  padding-top: 20px;
}

.curation-imgs {
  display: flex;
  
  }
 .curation-imgs img{
  padding-top: 20px;
  width:  100%;
 } 

 /*---"Virtual slides" slideshow (swiperjs.com/demos)--*/

.swiper {
        width: 90%;
        margin-top: 25px;
      }
      .swiper-slide {
        height: 100%;
        background: transparent;
        border-radius: 10px;
        
        text-align: center;
      }
/*-------------------TAROT*/
.tarot{ 
  background-image: linear-gradient(rgb(165, 60, 145) ,
 transparent); }

.tarot h1{
  text-align: center;
}

.tarot img{
  padding-top: 40px;
}

.tarot div a{
  text-align: center;
}

/*--------------BUTTON*/
 .button {
  background-color: rgb(165, 60, 145);
  border: 1px solid rgb(165, 60, 145);
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background 0.5s ease-in-out;
  color: background 0.5s ease-in-out;
}

.button:hover {
  background: #ffffff;
  color: white;
}

/*-------------------RAP*/
.rap h1, p{
  text-align: right;
  padding-right: 30px;
  padding-left: 30px;
}

.rap{
  color: rgb(150, 192, 142);
  background-color: rgb(58, 119, 120);
  padding-top: 30px;
}

.rap-imgs {
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px;
  }
 .rap-imgs img{
  padding-top: 20px;
  width:  100%;
 } 

 .rap-imgs div a{
  padding-left: px;
 } 

/*----------------FOOTER*/
footer {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(58, 119, 120) ;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 0px;
  color: #fff;
  width: 100%;
  height: 300px;
}

footer h2 {
  font-size: 15px;
  margin-bottom: 0px;
  width: 100%;
}
footer p{
  padding-top: 100px;
}

.right-alignment {
  text-align: right;
}

a.email-me {
  text-decoration: underline;
  color: #fff;
  transition: 0.3 ease-in-out;
  font-size: 25px;
  
}

a.email-me:hover {
  text-decoration: none;
  color: #000;
  background-color: none;
}



